.gallery-title-container {
    max-width: $nav-content-width;
    margin: 0 auto;
    margin-top: 66px;
    margin-bottom: 30px;

    .gallery-title {
        width: 230px;
        height: 40px;
        border-bottom: 2px solid $site-black;

        p {
            font-size: 25px;
            font-family: GillSans;
            letter-spacing: 2.5px;
        }
    }
}

.gallery-container {
    max-width: $nav-content-width;
    margin: 0 auto;
    min-height: 513px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;

    .gallery-img-1 {
        width: 489px;
        height: 187px;
        margin-bottom: 20px;
        @include bg-image($site-yellow, url(../images/gallery/1.png));
    }

    .gallery-img-2 {
        width: 187px;
        height: 187px;
        margin-bottom: 20px;
        @include bg-image($site-pink, url(../images/gallery/2.jpeg));
    }

    .gallery-img-3 {
        width: 256px;
        height: 187px;
        margin-bottom: 20px;
        @include bg-image($site-green, url(../images/gallery/3.jpg));
    }

    .gallery-img-4 {
        width: 603px;
        height: 306px;
        margin-bottom: 20px;
        @include bg-image($site-purple, url(../images/gallery/4.jpg));
    }

    .gallery-img-5 {
        width: 355px;
        height: 306px;
        margin-bottom: 20px;
        @include bg-image($site-aqua, url(../images/gallery/5.png));
    }
}

@media screen and (max-width: 1100px){
    .gallery-title-container, .gallery-container{
        margin-left: 50px;
        margin-right: 50px;
    }

    .gallery-container {
        .gallery-img-1, .gallery-img-2, .gallery-img-3, .gallery-img-4, .gallery-img-5 {
            width: 400px;
            height: 306px;
        }
    }
}
