.upcoming-events {
    min-height: 320px;
    background-color: $site-purple;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    .upcoming-events-title {
        width: 392px;
        border-bottom: 2px solid $site-white;
        p {
            font-family: GillSans;
            font-size: 25px;
            color: $site-white;
            letter-spacing: 3px;
        }
    }

    .event-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 35px;
        .event {
            width: 220px;
            height: 124px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .event-date {
                width: 60px;
                height: 60px;
                background-color: $site-pink;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .date-number {
                    font-family: GillSansBold;
                    font-size: 22px;
                    color: $site-white;
                    margin-bottom: 0;
                }

                .date-month {
                    font-family: GillSansLight;
                    font-size: 12px;
                    color: $site-white;
                    margin-bottom: 0;
                }
            }

            .event-text {
                width: 140px;
                height: 100%;
                .event-title {
                    font-family: GillSans;
                    font-size: 15px;
                    color: $site-white;
                    margin-bottom: 5px;
                }
                
                .event-body {
                    font-family: GillSans;
                    font-size: 13px;
                    color: $site-pink;
                }
            }
        }
    }
}